<div class="row">
  <div class="col-sm-12">
    <h1>Vote For The Week 6 Topic</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4>The week 6 topic is up to you! Whatever topic (or multiple topics, depending on how much content a lesson would need) has the highest number of votes by the end of the week 5 lesson will be chosen as the week 6 topic. I'll prepare a lesson based on what and your peers most want to see. Votes will reset after week 6. You can upvote as many topics as you want, but you can only upvote each one once. You can also add as many topics as you wish.</h4>
  </div>
</div>
<div class="row add-topic">
  <div class="col-sm-12">
    <% unless current_user %>
      <p>Want to add or vote for a topic? <%= link_to 'Log In', login_path %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul>
      <% @active_voted_lesson_topics.each do |lesson_topic| %>
          <li id="voted-lesson-topic-<%= lesson_topic.id %>">
            <%= lesson_topic.topic %> (<%= pluralize(lesson_topic.vote_count, 'vote') %>)
          </li>
      <% end %>
    </ul>
  </div>
</div>
