<div class="row">
  <div class="col-sm-12">
    <h1>Upcoming Lessons</h1>
  </div>
</div>
<div class="row" id="upcoming-lessons">
  <div class="col-sm-12">
    <% @upcoming_lessons.each do |lesson| %>
      <%= render partial: 'upcoming_lessons/lesson', locals: { lesson: lesson } %>
    <% end %>
  </div>
</div>
