<div class="row">
  <div class="col-sm-12">
    <h1>Why do TWT?</h1>
  </div>
</div>
<div class="row" id="upcoming-lessons">
  <div class="col-sm-12">
    <p>
      Back when I was in the 1510 backend program, Jeff Casimir challenged us on the last day of our mod to think about something we wanted to do differently in mod 2 to help support the community. Since I came from an engineering background and had some prior programming experience, I felt like I wanted to give back by helping other students. Here's how the exchange went in front of my entire mod 1 class:
    </p>
    <p>
      me: "I'd like to help by pairing and mentoring other students more often."<br>
      Jeff: "When?"<br>
      me: "...Tuesdays?"<br>
      Jeff: "What time?"<br>
      me: "4:15pm?"<br>
      Jeff: "Done. I'm putting it on the calendar right now."<br>
      another mod1 student: "You can call it Tuesdays With Toni!"
    </p>
    <p>
      And thus, Tuesdays With Toni was born!
    </p>
    <p>
      I continued TWT through my time at Turing but took a break while I was working my first job in Glendale, CO. When I started at GoSpotCheck in September 2016, I started TWT back up in the same format that I had before: 2 one-on-one sessions on Tuesday, each 45 minutes long, on whatever that student (or students) wanted to pair on.
    </p>
    <p>
      However, as I paired with more and more students across mods 1 - 3 of the backend program, I noticed that I got a lot of the same questions over and over again. At the same time, I was gaining more real world development experience and realizing there were certain things that I didn't know a lot about upon graduating (for example, writing raw SQL queries) that would have been great to have more experience in. I started wondering if there was a way that I could supplement some of the school's lessons with my own, using what I had learned as a basis of the lessons.
    </p>
    <p>
      Today, Tuesdays With Toni takes the form of once a week lectures that range from 1 - 2 hours based on the content. The idea for voting for a lesson topic for week 6 came from Jeff himself and I immediately thought it was a great way to allow students to pick content they need help on. My hope is to help students advance their education and make them even more prepared to get that first junior developer job.
    </p>
  </div>
</div>
