<div class="row contact-info">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6 text-right">
        <p class="contact-type">slack</p>
      </div>
      <div class="col-sm-6 text-left">
        <p>toni.is.a.verb</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <p class="contact-type">email</p>
      </div>
      <div class="col-sm-6 text-left">
        <p><a href="mailto:toni@tuesdayswithtoni.com">toni@tuesdayswithtoni.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <p class="contact-type">twitter</p>
      </div>
      <div class="col-sm-6 text-left">
        <p><a href="https://twitter.com/tonimarierib">@tonimarierib</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <p class="contact-type">linkedin</p>
      </div>
      <div class="col-sm-6 text-left">
        <p><a href="https://linkedin.com/in/ToniRib">linkedin.com/in/ToniRib</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right">
        <p class="contact-type">github</p>
      </div>
      <div class="col-sm-6 text-left">
        <p><a href="https://github.com/ToniRib">github.com/ToniRib</a></p>
      </div>
    </div>
  </div>
</div>

