$yellow: #ffff00;
$green: #00ff00;
$blue: #27c8cc;
$magenta: #b21752;

body {
  font-family: 'Muli', sans-serif;
}

.center-nav {
  display: inline-block;
  float: none;
}

.site-title {
  max-height: 170px;
}

.site-title-row {
  background-color: black;
}

nav {
  background-color: black;

  .icon-bar {
    background: $yellow;
  }

  li {
    margin: 0 20px;
  }

  .navbar-nav > li > a {
    color: $blue;
    font-size: 16px;
    letter-spacing: 0.4px;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    &:hover {
      background-color: black;
      color: $green;
    }
  }
}

.contact-info {
  margin-top: 50px;
  font-size: 20px;
}
