body {
  font-family: 'Muli', sans-serif;
}

.center-nav {
  display: inline-block;
  float: none;
}

.site-title {
  max-height: 170px;
}

.site-title-row {
  background-color: black;
}

nav {
  background-color: black;

  li {
    margin: 0 20px;
  }

  .navbar-nav > li > a {
    color: deepskyblue;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    letter-spacing: 0.4px;

    &:hover {
      background-color: black;
      color: greenyellow;
    }
  }
}

.contact-info {
  margin-top: 50px;
  font-size: 20px;
}
