<nav class="nav navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Upcoming Lessons', upcoming_lessons_path %></li>
      <li><%= link_to 'Week 6 Lesson Vote', week_six_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>
</nav>
